<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRecipes.Home"
        tools:targetApi="31">
        <activity
            android:name=".authorization.AuthorizationActivity"
            android:screenOrientation="nosensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mealDetails.DetailsActivity"
            android:exported="false"
            android:label="Meal details"
            android:parentActivityName=".mealList.MealListActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.MyRecipes.Rest" />
        <activity
            android:name=".mealAdd.AddMealActivity"
            android:exported="false"
            android:label="Add meal"
            android:parentActivityName=".mealList.MealListActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.MyRecipes.Rest"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".mealList.MealListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".home.MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.MyRecipes.Rest" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false"
            android:screenOrientation="nosensor">

        </activity>
    </application>

</manifest>